img{
    width: 200px;
    height: 195px;
    float: none;
}
div{
    float: left;
    margin: 5px;
    background-color: rgb(233, 207, 58);
    text-align: center;
    float: left;
    margin: 1px;
    padding: 1px;
}
body{
    background-color: rgb(38, 37, 39);
}