body {
    background-color: #DEFF9C;

}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    outline: none;
}

a:link {
    color: rgb(0, 255, 0);
}

a:hover {
    box-shadow: 5px 5px 5px #888888;
    background-color: rgb(136, 120, 156);
}

a:focus {
    border-bottom: 1px solid rgb(71, 71, 126);
    background-color: lightblue;
}

a:visited {
    color: rgb(0, 255, 0);
}

a:active {
    background-color: #ffeeaa;
    color: #00ff33;
}