body{
    background-color: rgb(213, 247, 26);
}
thead{
    color: red;
}
tfoot{
    color: blue;
}
table{
    border: 2px solid blue;
    border-collapse: collapse;
    text-align: center;
}
td,th{
    border: 1px solid green;
    padding: 10px 20px;
}
